body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6d1f8;
}

header {
    text-align: center;
    background: #ffeed8;
    padding: 10px 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cart-items {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.cart-item h3 {
    margin: 0;
}

#cart-total {
    font-weight: bold;
    margin-top: 10px;
}

button {
    padding: 10px 15px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

nav {
    margin: 10px 0;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
}

.nav {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.nav:hover {
    color: #007BFF;
}

footer {
    background-color: #ffeed8;
    padding: 20px;
    text-align: center;
}
